<h2>Edit mail Data</h2><hr>
<div class="row">
	<div class="col-md-6">
		<div class="well well-sm">
			<form ng-controller="edit-mail">
				<div class="form-group">
					<label for="exampleInputEmail1">Mail Name</label>
					<input type="text" class="form-control" ng-model="maildata.mailname" placeholder="Enter Mail Name" required>
				</div>
				<div class="form-group">
					<label for="exampleInputPassword1">Author Name</label>
					<input type="text" class="form-control" ng-model="maildata.authorname" placeholder="Enter Author Name" required>
				</div>
				<div class="form-group">
					<label for="exampleInputPassword1">Price</label>
					<div class="input-group">
					<div class="input-group-addon">$</div>
					<input type="text" class="form-control" ng-model="maildata.price" placeholder="Amount" required>
					</div>
				</div>
				<button type="submit" class="btn btn-default" ng-click="cancel()">Cancel</button>
				<button type="submit" class="btn btn-success" ng-click="updateMail()">Update Mail</button>
			</form>
		</div>
	</div>
</div>
